*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "DIN Alternate Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DIN Alternate Bold"), url("DINAlternate-Bold.woff") format("woff");
}
/* 
@font-face {
  font-family: "Impact Label Revesed";
  font-style: normal;
  font-weight: normal;
  src: local("Impact Label Revered"),
    url("Impact\ Label\ Reversed.ttf") format("ttf");
} */

.fontFace {
  font-family: "DIN Alternate Bold";
}

.relative {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  height: 100%;
}

#tsparticles {
  background-image: url(./algodao_cru.jpeg);
  background-size: cover;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.animateOpacityReverse {
  animation-duration: 2s;
  animation-name: animate-fade-out;
  animation-delay: 8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes animate-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
div.menu {
  transform: translate3d(0, -1rem, 0);
}
